<div class="pt-3 pb-2 mb-3 border-bottom">
  <h2 class="h2">Editar Jogo</h2>
</div>

<form [formGroup]="jogoForm" (ngSubmit)="submitForm()" novalidate>
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-12">
      <div class="row">
        <div class="col-md-12 mb-3">
          <label>Nome</label>
          <input type="text" id="nome" class="form-control" formControlName="nome" required />
          <!-- errors-->
          <p *ngIf="nome?.touched && nome?.invalid" class="error">
            <sup>*</sup>Nome obrigatório
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mb-3">
          <label>Plataforma</label>
          <input type="number" formControlName="plataforma" class="form-control" required />
          <!-- errors-->
          <p *ngIf="plataforma?.touched && plataforma?.invalid" class="error">
            <sup>*</sup>Informe a plataforma
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mb-3">
          <label>Preco:</label>
          <input type="text" formControlName="preco" class="form-control" required />
          <!-- errors-->
          <p *ngIf="preco?.touched && preco?.invalid" class="error">
            <sup>*</sup>Informe preco
          </p>
          <p *ngIf="preco?.errors?.['pattern']" class="error">
            <sup>*</sup>Use apenas números
          </p>
        </div>
      </div>
      <div class="form-group text-end">
        <button type="submit" class="btn btn-info mx-2" [disabled]="!jogoForm.valid">
          Editar Jogo
        </button>
      </div>
    </div>
  </div>
</form>